# Exclude development files from export
/bridge-directory/.gitignore export-ignore
/bridge-directory/.gitattributes export-ignore
/bridge-directory/.github export-ignore
/bridge-directory/node_modules export-ignore
/bridge-directory/tests export-ignore
/bridge-directory/.git export-ignore
/bridge-directory/.vscode export-ignore
/bridge-directory/webpack.config.js export-ignore
/bridge-directory/composer.json export-ignore
/bridge-directory/composer.lock export-ignore
/bridge-directory/package.json export-ignore
/bridge-directory/package-lock.json export-ignore
/bridge-directory/phpcs.xml export-ignore
/bridge-directory/README.md export-ignore
